# Ignore Playwright credentials and storage state
testdata/credentials.json
storageState.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/keys.env
.env
# Ignore filter-repo helper files
/replacements.txt